
@media (width:1366px) and (height: 635px){
    #footer{
        height: 650px !important;
    }
}

@media (width:1362px) and (height: 667px){
    #footer{
        height: 650px !important;
    }
}

@media (width:1024px) and (height:1366px) {

    .aboutusimg {
        height: 30vh;
    }

    #footer{
        height: 45vh;
    }
}


@media (width:768px) and (height:1024px) {

    #about p{
        text-align: center;
    }

    .about-text{
        padding-left: 5%;
    }

    #footer{
        height: 70vh;
    }
}

@media (min-width: 300px) and (max-width: 550px){

    h3{
        font-size: 0.7rem !important;
    }

    .nav-item{
        text-align: left;
    }

    .separator{
        display: none;
    }

    .background-header img {
        width: 50%;
    }

    .aboutusimg {
        height: 50vh;
    }

    .about-text p{
        text-align: center;
    }

    .about-text{
        padding-left: 5%;
    }

    #footer{
        height: 1100px;
    }
}

@media (min-width: 10px) and (max-width: 299px){

    .background-header img {
        width: 50%;
    }

    h3{
        font-size: 0.2rem;
    }

    p,li,h5,td,th{
        font-size:0.4rem;
    }

    .aboutusimg{
        height: 30vh;
    }

    .about-text p,
    .about.text li{
        text-align: center;
        margin-left: 5%;
    }

    #company img{
        width: 150px;
        height: 150px;
    }

    #services h3{
        padding-top: 50px;
    }

    #footer{
        height: 1100px;
    }
}